<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .navbar {
        background-color: #4CAF50;
        overflow: hidden;
    }
    
    .navbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
    }
    
    .navbar a:hover {
        background-color: #ddd;
        color: black;
    }
    input {
        text-align: center;
        width: 100%;
        padding: 12px 20px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    form {
        text-align: center;
        width: 40%;
        margin: 20px auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        background-color: #f9f9f9;
    }
    </style>
</head>
<body>
<div class="navbar">
    <a href="#" onclick="redirectToHome()">Home</a>
    <a href="#" onclick="redirectToNFlight()">New Flight</a>
    <a href="#" onclick="redirectToUFlight()">Update Flight</a>
    <a href="#" onclick="redirectToAStop()">Add Stop</a>
    <a href="#" onclick="redirectToVStop()">View Stops</a>
    <a href="#" onclick="redirectToAStaff()">Assign Staff</a>
    <a href="#" onclick="redirectToSStaff()">Search Staff</a>
    <a href="#" onclick="redirectToSPassengers()">Search Passengers</a>
</div>
<form action="/createFlight" method="POST">
    <input type="number" id="FLIGHTNUM" name="FLIGHTNUM" placeholder="Flight Number">
    <br>
    <input type="text" id="ORIGN_AIRCODE" name="ORIGIN_AIRCODE" placeholder="Origin Aircode">
    <br>
    <input type="text" id="DESTINATION_AIRCODE" name="DESTINATION_AIRCODE" placeholder="Destination Aircode">
    <br>
    <input type="time" id="DEPT_TIME" name="DEPT_TIME" placeholder="Departure Time">
    <br>
    <input type="date" id="DEPT_DATE" name="DEPT_DATE" placeholder="Departure Date">
    <br>
    <input type="time" id="ARR_TIME" name="ARR_TIME" placeholder="Arrival Time">
    <br>
    <input type="date" id="ARR_DATE" name="ARR_DATE" placeholder="Arrival Date">
    <br>
    <input type="number" id="NUMSER" name="NUMSER" placeholder="Serial Number">
    <br>
    <button type="submit">Create</button>
</form>
<script>
    function redirectToHome() {
        window.location.href = "/"
    }
    function redirectToNFlight() {
        window.location.href = "/NewFlight"
    }
    function redirectToUFlight() {
        window.location.href = "/UpdateFlight"
    }
    function redirectToAStop() {
        window.location.href = "/AddStop"
    }
    function redirectToVStop() {
        window.location.href = "/ViewStop"
    }
    function redirectToAStaff() {
        window.location.href = "/AssignStaff"
    }
    function redirectToSStaff() {
        window.location.href = "/SStaff"
    }
    function redirectToSPassengers() {
        window.location.href = "/SPassengers"
    }
</script>
</body>
</html>
